.home {
  background-color: #fdf4e3;
  width: 100vw;
  height: 100vh;
  padding-bottom: 2em;
}

/* search section */
.search {
  /* border: pink 2px solid; */
  padding-top: 3em;
  width: 100vw;
  height: 25vh;
}
.search input {
  width: 30%;
  height: 40px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 40px;
  font-size: 20px;
  background-color: #f75e25;
  text-align: center;
  color: white;
}
.search input::placeholder {
  color: #f38a63;
  text-align: center;
}

/* filter section */
.filter {
  /* border: pink 2px solid; */
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-start;
  padding-top: auto;
  justify-content: baseline;
  background-color: #bebd7f;
}
.filter button {
  background-color: #bebd7f;
  padding-left: 5em;
  border: none;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.filter button:hover {
  color: #f75e25;
  cursor: pointer;
}

#filters {
  background-color: #bebd7f;
  color: white;
  align-items: baseline;
  gap: 20px;
}

/* result section */
.results{
  padding-top: 2em;
  font-size: 20px;
  padding-bottom: 5em;
  background-color: #f75e25;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
.events {
  background-color: #f75e25;
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 2em;
}

/* events */
.eventCards{
  padding-top: 2em;
  width: 15%;
  height: 100%;
  padding: 1em;
  background-color: #bebd7f;
  font-size: 12px;
  text-shadow: none;
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.eventCards:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event img{
  height: 200px;
  width: 90%;
}