.home {
  display: flex;
  justify-content: center;
  background-color: #fdf4e3;
  width: 100%;
  height: 100vh;
  padding: 5em;
  padding-bottom: 2em;
}

.search input {
  width: 75%;
  height: 40px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 40px;
  background-color: #bebd7f;
  font-size: 20px;
  background-color: #f75e25;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.search input::placeholder {
  color: #f38a63;
  text-align: center;
  padding: none;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
