navbar {
  background-color: #bebd7f;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  font-family: "Ropa Sans";
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  display: inline;
  justify-content: space-evenly;
}
