.header {
  background-color: #bebd7f;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Ropa Sans";
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

li {
  display: inline;
  font-size: 24px;
  padding: 0.5em;
}

li a {
  color: white;
}

li a:hover {
  color: #f38a63;
}

.nav-left {
  align-self: flex-start;
}

.nav-right {
}

.nav-left img {
  max-width: 5vw;
  max-height: 5vh;
}

.nav-right img {
  max-width: 4vw;
  max-width: 4vh;
}
