/* navigation css */
.header {
  background-color: #bebd7f;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Ropa Sans";
  /* font-size: calc(10px + 2vmin); */
  color: white;
  padding-right: 0.5 em;
}

.nav-left li {
  display: inline;
  font-size: 42px;
  padding-left: 0.5em;
}

.nav-right li {
  display: inline;
  font-size: 24px;
  padding-right: 1.5em;
}

li:nth-child(2) a {
  text-decoration: none;
}

/* li:nth-child(2) a:hover {
  color: white;
} */

li a {
  color: white;
}

li a:hover {
  color: #f38a63;
}

.nav-left img {
  max-width: 5vw;
  max-height: 5vh;
}

.nav-right img {
  max-width: 4vw;
  max-width: 4vh;
  padding-right: 1em;
}
